* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    width: 100%;
    height: 60px;
    top: 0;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    z-index: 1000;
    list-style: none;
    padding: 2rem;
}

nav ul li:first-child{
    margin-right: auto;
}

nav ul li:not(:first-child){
    margin-left: 1rem;
}

nav a {
    color:aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: lightgray;
}

.grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "content content content"
    "info info info"
    "footer footer footer"  ;
}

/* .grid-item {
    border: 1px solid black;
} */

.content {
    margin-top: 60px;
    position: relative;
    width: 100vw;
    height: auto;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    z-index: 10;
    
}

.animation {
    position: relative;
    width: 80vw;
    aspect-ratio: 16/9;
    max-width: 1200px;
    overflow: hidden;
    background-color: white;
}

.shadow-lights {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    z-index: 0;
}

.film-border {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: absolute;
  z-index: 1;
}

.Environment {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 30%; 
    margin:0 auto;
    aspect-ratio: 3/4;
    z-index: 2;
}

.lamp {
    position: absolute;
    width: 57.5%;
    bottom: 83%;
    left: 19.5%;
}

.Figure {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 30%;
    margin:0 auto;
    aspect-ratio: 3/4;
    z-index: 2;
}

.head {
    position: absolute;
    width: 22%;
    top: 32%;
    left: 25%;
    animation: head-swing 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes head-swing {
    0%  {transform: rotate(0deg) translateX(0%) translateY(0%);}
    50% {transform: rotate(-12deg) translateX(-30%) translateY(-22%);}
    100%{transform: rotate(0deg) translateX(0%) translateY(0%);}
}

.torso {
    position: absolute;
    width: 42%;
    top: 41%;
    left: 6%;
    transform: rotate(15deg);
    animation: torso-swing 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes torso-swing {
    0%  {transform: rotate(15deg) translateX(0%) translateY(0%);}
    50% {transform: rotate(2deg) translateX(-5%) translateY(-5%)}
    100%{transform: rotate(15deg) translateX(0%) translateY(0%);}
}

.right-arm-swing {
    position: absolute;
    width: 19%;
    top: 50%;
    left: 40%;
    transform-origin: top left; 

    height: auto;
    aspect-ratio: 1 / 3;
    overflow: visible;

    animation: right-arm-swing 2s ease-in-out infinite;
}

@keyframes right-arm-swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-6.5vw) translateY(-7.5vh) rotate(-140deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
}

.upper-arm {
    position: absolute;
    width: 100%;
    bottom: 72%;
    right: 80%;
    animation: upper-right-arm-swing 2s ease-in-out infinite;
    transform-origin: center;
}

/* @keyframes upper-right-arm-swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-20%) translateY(-80%) rotate(-100deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.lower-arm {
    width: 100%;
    position: absolute;
    bottom: 65%;
    right: 27%;
    transform: rotate(20deg);
    transform-origin: bottom left;
}

/* @keyframes lower-right-arm-swing {
    0%  {transform: translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-3.5vw) translateY(-3.5vh) rotate(-125deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.right-hand {

    position: absolute;
    width: 60%;
    bottom: 70%;
    left: 70%;
    transform: rotate(30deg);
    transform-origin: top left;
}

/* @keyframes right-hand-swing {
    0%  {transform:  translateX(0%) translateY(0%) rotate(0deg);}
    50% {transform: translateX(-7vw) translateY(-18vh) rotate(-110deg);}
    100%{transform: translateX(0%) translateY(0%) rotate(0deg);}
} */

.hammer {
    position: absolute;
    width: 85%;
    bottom: 68%;
    left: 50%;
    transform: rotate(30deg);
    transform-origin: center;
    animation: right-hand-hammer-swing 2s ease-in-out infinite;
}

/* @keyframes right-hand-hammer-swing {
    0%  {transform: rotate(0deg); top: 0%;}
    50% {transform: rotate(-5deg); top: 2%;}
    100%{transform: rotate(0deg); top: 0%;;}
} */

.upper-left-arm {
    position: absolute;
    width: 21%;
    top: 50%;
    left: 22%;
    transform: rotate(15deg);
    animation: upper-left-arm-swing 2s ease-in-out infinite;
    transform-origin: top left;
}

@keyframes upper-left-arm-swing {
    0%  {transform: rotate(5deg);}
    50% {transform: rotate(-20deg);}
    100%{transform: rotate(5deg);}
}

.lower-left-arm-slide {
    position: absolute;
    width: 19%;
    top: 48%;
    left: 41%;
    transform-origin: top left; 

    height: auto;
    aspect-ratio: 1 / 3;
    overflow: visible;

    animation: lower-left-arm-slide 2s ease-in-out infinite;
}

@keyframes lower-left-arm-slide {
    0%  {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    50% {transform: translateX(-0.5vw) translateY(-4vh) rotate(-30deg);}
    100%{transform: translateX(0vw) translateY(0vh) rotate(0deg);}
}

.lower-left-arm {
    position: absolute;
    width: 100%;
    top: 25%;
    right: 55%;
    transform: rotate(55deg);
    /* animation: lower-left-arm-swing 2s ease-in-out infinite; */
    transform-origin: center;
}

/* @keyframes lower-left-arm-swing {
    0%  {right: 700px; top: 580px;}
    50% {right: 675px; top: 575px;}
    100%{right: 700px; top: 580px;}
} */

.left-hand {
    position: absolute;
    width: 85%;
    top: 38%;
    left: 12%;
    transform: rotate(20deg);
    animation: left-hand-swing 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes left-hand-swing {
    0%  {transform: translateX(0vw) translateY(0vh) rotate(20deg);}
    50% {transform: translateX(0vw) translateY(-0.5vh) rotate(15deg);}
    100%{transform: translateX(0vw) translateY(0vh) rotate(20deg);}
}

.upper-leg {
    position: absolute;
    width: 39%;
    top: 60.5%;
    left: 9%;
    animation: upper-leg-swing 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes upper-leg-swing {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
    100%{transform: rotate(0deg);}
}

.lower-leg {
    position: absolute;
    width: 35%;
    top: 68%;
    left: 8%;
    transform: rotate(2deg);
    animation: lower-leg-swing 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes lower-leg-swing {
    0%  {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}

.feet {
    position: absolute;
    width: 25%;
    top: 72%;
    right: 85%;
    transform: rotate(-8deg);
    animation: feet-slide 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes feet-slide {
    0%  {transform: translateX(0vw) translateY(0vh) rotate(0deg);}
    50% {transform: translateX(1vw) translateY(0vh) rotate(-15deg);}
    100%{transform: translateX(0vw) translateY(0vh) rotate(0deg);}
}


.info {
    width: 100vw;
    height: 200vh;
    background-color: whitesmoke;
    border: 4vw solid black;
    grid-area: info;
    z-index: 1;
}

@font-face {
    font-family: 'Ed-Lavonia';
    src: url('../Fonts/EDLavonia-Regular.otf') format('opentype');
    src: url('../Fonts/EDLavonia-Regular.woff') format('woff');
    src: url('../Fonts/EDLavonia-Regular.woff2') format('woff2');
    src: url('../Fonts/EDLavonia-Regular.ttf') format('truetype');
}

.info p {
    color: black;
    font-family: 'Ed-Lavonia';
    width: 100%;
    font-weight: 200;
    padding: 2%;
    margin: 0;
    text-align: center;
    font-size: clamp(16px, 2vw, 64px);
    line-height: 1.5;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: start;
  }
  
  .product_item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

    .product_item:hover img {
    transform: scale(0.9);
    opacity: 50%;
  }

/* .footer {
    width: 100vw;
    height: 60px;
    background-color: brown;
    grid-area: footer;
} */

.footer {
    width: 100%;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding:1rem;
    grid-area: footer;
}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    color:aliceblue;
    text-decoration: none;
}

.footer ul li a:hover{
    color: lightgray;
}