<div class="animation">
  <div class="Background">
    {% if backgroundImages %}
      {% for bg in backgroundImages %}
        <img src="{{ bg.src | prefixedUrl }}" class="{{ bg.class }}">
      {% endfor %}
    {% endif %}
  </div>

  <div class="Environment">
    {% if environmentImages %}
      {% for env in environmentImages %}
        <img src="{{ env.src | prefixedUrl }}" class="{{ env.class }}">
      {% endfor %}
    {% endif %}
  </div>

  <div class="Figure">
    {% if figureImages %}
    {% for fig in figureImages %}
       <div class="{{ fig.name }}">
        {% for img in fig.images %}
          <img src="{{ img.src | prefixedUrl }}" class="{{ img.class }}">
         {% endfor %}
       </div>
      {% endfor %}
    {% else %}
    <p>hi</p>

    {% endif %}
  </div>
</div>