<div class="animation">
  <div class="Background">
    {% if backgroundImages %}
      {% for bg in backgroundImages %}
        <img src="{{ pathPrefix }}{{ bg.src }}" class="{{ bg.class }}">
      {% endfor %}
    {% endif %}
  </div>

  <div class="Environment">
    {% if environmentImages %}
      {% for env in environmentImages %}
        <img src="{{ pathPrefix }}{{ env.src }}" class="{{ env.class }}">
      {% endfor %}
    {% endif %}
  </div>

  <div class="Figure">
    {% if figureImages %}
      {% for fig in figureImages %}
        <img src="{{ pathPrefix }}{{ fig.src }}" class="{{ fig.class }}">
      {% endfor %}
    {% endif %}
  </div>
</div>