<nav>
  <ul>
    <li>
      <a href="{{ pathPrefix }}index.html">Home</a>
    </li>
    <li>
      <a href="{{ pathPrefix }}about/">Manifesto</a>
    </li>
    <li>
      <a href="{{ pathPrefix }}products/">Products</a>
    </li>
    <li>
      <a href="{{ pathPrefix }}contact/">Contact</a>
    </li>
  </ul>
</nav>