<nav>
  <ul>
    <li><a href="{{ '/' | prefixedUrl }}">Home</a></li>
    <li><a href="{{ '/about/' | prefixedUrl }}">About</a></li>
    <li><a href="{{ '/product/' | prefixedUrl }}">Products</a></li>
    <li><a href="{{ '/contact/' | prefixedUrl }}">Contact</a></li>
  </ul>
</nav>