<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>


    <link rel="stylesheet" href="{{ '/styles/post.css' | prefixedUrl }}">
    
    {% if preloadImages %}
      {% for image in preloadImages %}
        <link rel="preload" href="{{ image | prefixedUrl }}" as="image">
      {% endfor %}
    {% endif %}

</head>

<body>
  <div class="grid-container">
    <header class="header">{% include "nav.njk" %}</header>
    <main class="content">
      <div class="image-header">
        {% if postImage %}
        {% for image in postImage %}
          <img src="{{ image.src | prefixedUrl }}" alt="{{ title }} image" class="{{ image.class }}">
        {% endfor %}
        {% endif %}
      {{ content | safe }}
      </div>
    </main>
    <section class="info">
      <p>{{ infoText }}</p>
    </section>
    <footer class="footer">{% include "footer.njk" %}</footer>
  </div>
</body>
</html>